.body{
    
}
.First-Section,
.Fifth-Section
{
    background-color: #1F2937;
}
.Third-Section{
    background-color: #E5e7eb;
    color:#1F2937;
    font-style: italic;
    font-size: 36px;
}
.row{
    display: flex;
}
.section-one-items{
    display: flex;
    color:#F9FAf8;
    justify-content: space-between;
    width: 100%;
    margin-right: 10%;
}
.Header-links{
    display: flex;
    gap: 15px;
    color: white;
    width: 100%;
    justify-content: center;

    
}
.header{
    color:#F9FAf8;
    font-size: 24px;
}
.Main-Text{
    color: #F9FAf8;
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: -50px;
}
.Awesome-Website{
    margin-left: 10%;
    
}
.container{
    width: 100%;
    
}
button{
    width:30%;
    max-width: 150px;
    background-color: #3882F6;
    color: #F9FAf8;
}
.quote{
    margin-left: 10%;
    margin-right: 10%;
   padding: 25px;
}
.signup-section{
    background-color: #3882F6;
    color: #F9FAf8;
    align-self: center;
    margin: 0 auto;
    padding: 25px;
    border-radius: 10px;
    margin: 50px;

}
.images{
width: 75%;
margin: 10px;
padding: 10px;
margin-top: 50px;
margin-bottom: 20px;
}
.organizer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first-space-photo,
.second-space-photo,
.third-space-photo,
.fourth-space-photo{
    height: 100px;
    width:100px;
    margin: 10px;
}

.space-pics{
    display: flex;
    justify-content: space-around;
}
.Zarbon,
.Mars,
.Uranus,
.warning{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Trip-to-Zars{
    display: flex;
    justify-content: center;
}
.Trip-pics{
    margin-left: 10%;
    margin-right: 10%;
}
.row{
    display: flex;
    justify-content: center;
    color: #F9FAf8;
    font-family: 'Roboto', sans-serif;
    

}
.sign-up-one,
.sign-up-two{
    border-radius: 10px;
}
.sign-up-two{
    border-color: #F9FAf8;
}
.sign-up-one{
    border-width: 0;
}
*col{
    font-family: 'Roboto',sans-serif;
}
